{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/addressbook.css' %}" type="text/css" />
{% endblock %}

{% block content %}
{% include "addressbook/links.html" %}

<div class="wrapper">
<form action="{% url "addressbook_add_group" %}" method="post" class="uniForm"> {% csrf_token %}
<fieldset class="inlineLabels">
<div class="dark">Add a contact group</div>
{{ form|crispy }}
<div class="buttonHolder">
<button class=primaryAction" type="submit">Add Group</button>
</div>
</fieldset>
</form>
</div>
{% endblock %}
