{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% include "addressbook/links.html" %}

{% if messages %}
<div class="wrapper">
{% for message in messages %}
<p class="msg">{{message}}</p>
{% endfor %}
</div>
{% endif %}
<table class="table table-striped">
<tbody>
{% if contacts %}
{% for cat, contacts in tup %}
    <tr class="active"><th>{{cat}}</th></tr>
    {% if contacts %}
        {% for contact in contacts %}
        <tr><td><a href="{% url "addressbook_single_contact" contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a></td></tr>
        {% endfor %}
    {% else %}
        <p>None</p>
    {% endif %}
{% endfor %}
{% else %}
No contacts
{% endif %}
</tbody>
</table>
{% endblock %}
